#screen {
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-color: #f5f8fd;
}

#contact {
    min-height: 110vh;
    width: 84%;
    border-radius: 0.6%;
    margin-top: 100px;
    margin-left: 8%;
    margin-bottom: 35px;
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width:900px) {
    #contact {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }
}


#title-hr-contacts {
    height: 3.1px;
    background-color: #18222b;
    width: 64% !important;

}

@media screen and (max-width:500px) {
    #title-hr-contacts {
    width: 55% !important;
    }

   
}


.contact-info-div {
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;    
}

.contact-info {
    height: 105px;
    background-color: white;
    margin-top: 15px;
    border-radius: .5%;
    width: 49%;
    position: relative;
    top: 0;
}

.contact-info:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.contact-data {
    display: flex;
    flex-direction: row;
    padding: 4%;
}

.contact-logo {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.gif-icon{
    height: 100%;
    /* opacity: 0; */
}

.contact-icon {
    color: white;
    font-size: 28px;
}

.contact-name {
   
}

.contact-q {
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold;
    color: #304656;
    margin-top: 9px;
    margin-bottom: 0;
}

.contact-a {
    margin-left: 20px;
  font-weight: lighter;
  margin-top: 6px;
  color: #304656;
  
}

.logo-margin{
    margin-left: 12px;
}

.social-logos{
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.social-icon{
font-size: 30px;
color: #304656;

}

.social-icon:hover{
    color: teal;
    transition: all 0.5s;
    scale: 1.1;
    cursor: pointer;
}


.info-margin {
    margin-left: 25px;
}

@media screen and (max-width:800px) {

    #contact {
   
   padding-bottom: 100px;
    }


    .contact-info-div {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
    }

    .info-margin {
        margin-left: 0;
    }
}



#message-div {
    margin-top: 60px;
    height:80vh;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#sub-heading-div{
margin-left: 27px;
}

#sub-heading{
    font-size: 32px;
}

#name-email {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    
}

#subject {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#message {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;

}

.name-email {
    width: 49%;
    height: 58px;
    /* color: #304656 ; */
    padding-left: 20px;
    /* box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2); */



}

.email {
    margin-left: 2%;

}

.subject {
    width: 98%;
    height: 58px;
    /* color: #304656; */
    padding-left: 20px;
    /* box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2); */

}

.message {
    width: 98%;
    /* color: #304656; */
    font-size: 19px;
    padding-left: 20px;
    padding-top: 15px;
    /* box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.05); */


}


::ng-deep .mat-mdc-text-field-wrapper  {
    background-color: white !important;
  }

  ::ng-deep .mdc-notched-outline__notch{
    border: 0 !important;
  }

  ::ng-deep .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
    border: 0 !important;
  }

  ::ng-deep .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading{
    border: 0 !important;
  }

#sub-btn {
    margin-top: 50px;
    height: 50px;
    width: 200px;
    background-color: #304656;
    border: 0;
    color: white;
    font-size: 16px;
    border-radius: 30px;
}

#sub-btn:hover {
    color: #304656;
    background-color: white;
    border: 2px solid #304656;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width:801px) {

    .name-email {
        margin-top: 20px;
    }

    #message-div {
        padding: 0;
    }
  

    #name-email {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    #subject {
    margin-left: 0;
    margin-right: 0;
    }

    #message{
        margin-left: 0;
        margin-right: 0;
    }

    .name-email {
        width: 98%;

    }

    .email {
        margin-left: 0;
    }

    #message-div {
        height: 72vh;
    }

}


@media screen and (max-width:500px) {

    #contact {
   
        padding-bottom: 130px;
         }

    #btn{
        padding-bottom: 50px;
    }

    #message-div {
    
        padding-left: 12px;
        padding-right: 12px;
    
    }
  
    #sub-heading-div{
    margin-left: 0;
    }

    #name-email {
    margin-left: 0;
    margin-right: 0;
    }
   .name-email{
    padding-left: 0;
   }
    .subject{
        padding-left: 0;
    }

    .message{
        padding-left: 0;
    }
    
    .contact-info-div {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
    }

    .contact-data {
        padding:5%;
    }
    .contact-a {
        font-size: 12px;
    }
    .contact-info {
        height: 90px;
    }

    .contact-logo {
        width: 40px;
        height: 40px;
    }
    .contact-icon{
        font-size: 22px;
    }
    .contact-q{
        margin-top: 4px;
        margin-left: 8px;
    }
    .contact-a{
        margin-left: 8px;
    }

    

}
