<app-navbar></app-navbar>

<div id="screen">
    <div id="contact">

        <div class="page-title-div">
            <p class="page-title">MY CONTACTS</p>
            <div class="title-hr"></div>
        </div>


        <div class="contact-info-div">
            <div class="contact-info">
                <div class="contact-data">
                    <div class="contact-logo">
                        <i class="fa fa-map-marker contact-icon" aria-hidden="true"></i>
                    </div>
                    <div class="contact-name">
                        <p class="contact-q">My Address</p>
                        <p class="contact-a">Ranjanpada, Jasai, Uran, Navi-Mumbai, 400702</p>
                    </div>
                </div>
            </div>
            <div class="contact-info info-margin">
                <div class="contact-data">
                    <div class="contact-logo">
                        <i class="fa fa-share-alt contact-icon" aria-hidden="true"></i>
                    </div>
                    <div class="contact-name">
                        <p class="contact-q">Social Profiles</p>
                        <div class="flex-row logo-margin">
                            <div class="social-logos">
                                <i class="fa fa-instagram social-icon" aria-hidden="true"></i>
                            </div>
                            <div class="social-logos">
                                <i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i>
                            </div>
                            <div class="social-logos">
                                <i class="fa fa-github social-icon" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="contact-info-div">
            <div class="contact-info">
                <div class="contact-data">
                    <div class="contact-logo">
                        <i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i>
                    </div>
                    <div class="contact-name">
                        <p class="contact-q">Email Me</p>
                        <p class="contact-a">patilpritesh7277@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="contact-info info-margin">
                <div class="contact-data">
                    <div class="contact-logo">
                        <i class="fa fa-phone-square contact-icon" aria-hidden="true"></i>
                    </div>
                    <div class="contact-name">
                        <p class="contact-q">Call Me</p>
                        <p class="contact-a">+91 8689987277</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="message-div">
            <form action="">
                <div id="name-email">
                    <input type="text" name="name" placeholder="Your Name" class="name-email">
                    <input type="email" name="email" placeholder="Your Email" class="name-email email">
                </div>

                <div id="subject">
                    <input type="text" name="subject" placeholder="Subject" class="subject">
                </div>
                <div id="message">
                    <textarea name="message" cols="30" rows="8" placeholder="Message" class="message"></textarea>
                </div>
                <div id="btn">
                    <button id="sub-btn">Send Message</button>
                </div>

            </form>
        </div>


    </div>

    <app-footer></app-footer>