#screen {
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}

#contact {
    min-height: 100vh;
    width: 84%;
    border-radius: 0.6%;
    margin-top: 100px;
    margin-left: 8%;
    margin-bottom: 35px;
    padding-top: 1px;
    padding-bottom: 45px;
}



@media screen and (max-width:900px) {
    #contact {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }
}


.page-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.page-title {
    font-size: 45px;
    font-weight: 700;
    color: #304656;
    letter-spacing: .5px;
}

.title-hr {
    margin-top: 20px;
    height: 3.8px;
    background-color: teal;
    width: 60px;
}

.contact-info-div {
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;    
}

.contact-info {
    height: 105px;
    background-color: white;
    margin-top: 15px;
    border-radius: .5%;
    width: 49%;
    position: relative;
    top: 0;
}

.contact-info:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.contact-data {
    display: flex;
    flex-direction: row;
    padding: 4%;
}

.contact-logo {
    width: 50px;
    background-color: #304656;
    height: 50px;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-icon {
    color: white;
    font-size: 28px;
}

.contact-name {
   
}

.contact-q {
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold;
    color: #304656;
    margin-top: 9px;
    margin-bottom: 0;
}

.contact-a {
    margin-left: 20px;
  font-weight: lighter;
  margin-top: 6px;
  color: #304656;
  
}

.logo-margin{
    margin-left: 12px;
}

.social-logos{
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.social-icon{
font-size: 30px;
color: #304656;

}

.social-icon:hover{
    color: teal;
    transition: all 0.5s;
    scale: 1.1;
    cursor: pointer;
}


.info-margin {
    margin-left: 25px;
}

@media screen and (max-width:800px) {
    .contact-info-div {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
    }

    .info-margin {
        margin-left: 0;
    }
}



#message-div {
    margin-top: 60px;
    height:80vh;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#sub-heading-div{
margin-left: 27px;
}

#sub-heading{
    font-size: 32px;
}

#name-email {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    
}

#subject {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#message {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;

}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;

}

.name-email {
    width: 49%;
    height: 58px;
    color: #304656;
    font-size: 16px;
    border: 0.5px solid white;
    padding-left: 20px;
    background-color: white;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);



}

.email {
    margin-left: 2%;

}

.subject {
    width: 100%;
    height: 58px;
    color: #304656;
    font-size: 16px;
    border: 0.5px solid white;
    padding-left: 20px;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);

}

.message {
    width: 100%;
    color: #304656;
    font-size: 19px;
    border: 0.5px solid white;
    padding-left: 20px;
    padding-top: 15px;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);


}

::ng-deep .message {
    height: 220px !important;
    background-color: white;
}

#sub-btn {
    margin-top: 30px;
    height: 100%;
    width: 200px;
    background-color: #304656;
    border: 0;
    color: white;
    font-size: 18px;
    border-radius: 3%;
}

#sub-btn:hover {
    color: #304656;
    background-color: white;
    border: 2px solid #304656;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width:801px) {

    .name-email {
        margin-top: 20px;
    }

    #message-div {
        padding: 0;
    }
    #screen {
        height: 160vh;
    }

    #contact {
        height: 160vh;
    }

    #name-email {
        display: flex;
        flex-direction: column;
    }

    .name-email {
        width: 100%;

    }

    .email {
        margin-left: 0;
    }

    #message-div {
        height: 72vh;
    }

}


@media screen and (max-width:500px) {

    #screen {
        height: 140vh;
    }

    #contact {
        height: 140vh;
    }

    .page-title {
        font-size: 28px;
        padding-left: 12px;
    }

    .contact-info-div {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
    }

    .contact-data {
        padding:5%;
    }
    .contact-a {
        font-size: 12px;
    }
    .contact-info {
        height: 90px;
    }

    .contact-logo {
        width: 40px;
        height: 40px;
    }
    .contact-icon{
        font-size: 22px;
    }
    .contact-q{
        margin-top: 4px;
        margin-left: 8px;
    }
    .contact-a{
        margin-left: 8px;
    }

    

}
