#screen {
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-color: #f5f8fd;
}

#content{
    min-height: 110vh;
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 35px;
    padding-top: 40px;
    padding-bottom: 80px;
}


.page-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: max-content;
}

.page-title {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 12px;
}

.hr-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
width: 100%;
}

.title-hr {
    height: 3.1px;
    background-color: #18222b;
    width: 64%;
    
}

.sub-title{
width: 40%;    color: teal;
    font-weight: 550;
    margin-bottom: 0;
    margin-left: 10px;
  font-size: 120%;}

  .center-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    .page-title {
        font-size: 37px;
    }
    .sub-title{
    font-size: 110%;
    }
}

#services{
    padding-top: 100px;
}

#service-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-card{
    margin-top: 25px;
    margin-left: 25px;
    height: 340px;
    width: 450px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-icon{
    height: 80px;
}

.service-name{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
}

.service-info{
    margin-top: 16px;
    font-size: 15px;
    margin-left:7% ;
    margin-right: 7%;
    text-align: center;
}

.service-card:hover{
    background-color: #18222b;
    color: white;
}

@media screen and (max-width:1000px) {
    #service-div{
    flex-wrap: wrap;

    }
    .service-card{
    margin-left: 0;
    }
}

#skills {
    margin-top: 100px;
}

#skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
}

.skills-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 25px;
    margin-left: 23px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.skill-icon{
    color: teal;
    font-size: 60px;
}

#java-icon{
    color: #e82830;
}

#spring-icon{
   color: #6db33f;
}

#boot-icon{
    color: #6db33f;
 }

 #angular-icon{
    color: #de002d;
 }
 
 #html-icon{
    color: #e44d26;
 }
 
 #css-icon{
    color: #2299f8;
 }
 
 #js-icon{
    color: #f7df1e;
 }

 #ds-icon{
    color: #009ad3;
 }

 #git-icon{
    color: #f05033;
 }

 #sql-icon{
    color: #4479a1;
 }

.skill-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    color: #18222b;
}

.skills-card:hover {
    background-color: #18222b;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #18222b;
 
}

.skills-card:hover .skill-name {
    color: white;
}

.skills-card:hover .skill-icon{
    color: white;
}



@media screen and (max-width:1010px) {
    .skills-card {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:500px) {
    .skills-card {
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .skill-icon {
        margin-top: 10px;
        font-size: 45px;
        }

    #skills-div {
        padding-right: 10px;
    }

    .skill-name {
        font-size: 14px;
        text-wrap: wrap;
        margin-top: 8px;
    }

}

@media screen and (max-width:410px) {
    .skills-card {
        width: 130px;
        height: 130px;
    }
}


#projects {
    margin-top: 100px;
}

#project-card-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
       padding-right: 30px;

}

.project-cards {
    background-color: #18222b;
    margin-top: 10px;

    width: 340px;
    height: 440px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 30px;
    margin-top: 25px;
    transition: all 0.4s ease;

}



#project1-img-div {
    height: 82%;
    width: 100%;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#project2-img-div {
    height: 82%;
    padding-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#project1-img {
    width: 70%;
    background-image: url(./../../../assets/project1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#project2-img {
    width: 70%;
    background-image: url(./../../../assets/project2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.project-cards:hover {
    scale: 1.05;
    transition: all 0.4s ease;
}

.project-cards:hover #project1-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover #project2-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover .project-icon-div {
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s ease;
}

.project-icon {
    font-size: 25px;
    color: white;

}

.project-icon-div {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0;
    margin-top: 30px;
    border: 2px solid #18222b;
    background-color: #18222b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-icon-div:hover {
    background-color: white;
    transition: all 0.4s ease;
}

.project-icon-div:hover .project-icon {
    color: #18222b;
    transition: all 0.4s ease;
}

.project-info {
    height: 18%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.project-name {

    font-size: 18px;
    font-weight: 500;
    color: #18222b;
}

.project-date {
    font-size: 16px;
    color: teal;
    font-weight: 400;
}


@media screen and (max-width:1036px) {
    .project-cards {

        width: 330px;
        height: 350px;
    }
}

@media screen and (max-width:895px) {
    #project-card-div {
        justify-content: center;
    }

    .project-cards {

        width: 400px;
        height: 350px;
    }
}

@media screen and (max-width:500px) {
    .project-name {
        font-size: 14px;
    }
    .project-cards {

        width: 400px;
        height: 400px;
    }
}




