<app-navbar></app-navbar>




<div id="screen">

    <div id="content">

        <div id="services">

            <div class="center-div">
                <div class="page-title-div" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="page-title">
                        MY SERVICES
                    </h2>
                    <div class="hr-title">
                        <div id="title-hr-service">

                        </div>
                        <p class="sub-title">
                            PROVIDES
                        </p>
                    </div>
                </div>
            </div>

            <div id="service-div"  >
                <div class="service-card" data-aos="fade-up" data-aos-delay="800">
                        <img class="service-icon" src="./../../../assets/web.png" alt="">
                    <p class="service-name">
                        WEB DEVELOPMENT
                    </p>
                    <p class="service-info">    
I specialize in creating dynamic and robust websites, seamlessly blending the power of Angular for a responsive front-end and Spring Boot for a robust back-end. 
                    </p>
                </div>
                <div class="service-card" data-aos="fade-up" data-aos-delay="800">
                        <img class="service-icon" src="./../../../assets/coding.png" alt="">

                    <p class="service-name">
                        WEB DESIGN
                    </p>
                    <p class="service-info">
                        I bring websites to life through the art of design, utilizing the powerful platform Figma.
                    </p>
                </div>
                <div class="service-card" data-aos="fade-up" data-aos-delay="800">
                        <img class="service-icon" src="./../../../assets/java.png" alt="">

                    
                    <p class="service-name">
                        JAVA DEVELOPMENT
                    </p>
                    <p class="service-info">
                        Fluent in the language of Java, I possess a mastery in crafting not just projects but intricate ecosystems using Java frameworks
                    </p>
                </div>
            </div>

        </div>


        <!-- ..........................SKILLS SECTION......................... -->
        <div id="skills">

            <div class="center-div">
                <div class="page-title-div" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="page-title">
                        MY SKILLS
                    </h2>
                    <div class="hr-title">
                        <div id="title-hr-skills">

                        </div>
                        <p class="sub-title">
                            EXPERTISE
                        </p>
                    </div>
                </div>
            </div>


            <div id="skills-div">

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="java-icon" class="fa-brands fa-java skill-icon"></i>
                    <p class="skill-name">Java</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="spring-icon" class="fa-solid fa-leaf skill-icon"></i>
                    <p class="skill-name">Spring Framework</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="boot-icon" class="fa-solid fa-power-off skill-icon"></i>
                    <p class="skill-name">Spring Boot</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="angular-icon" class="fa-brands fa-angular skill-icon"></i>
                    <p class="skill-name">Angular Js</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="html-icon" class="fa-brands fa-html5 skill-icon"></i>
                    <p class="skill-name">Html</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="css-icon" class="fa-brands fa-css3-alt skill-icon"></i>
                    <p class="skill-name">Css</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="js-icon" class="fa-brands fa-js skill-icon"></i>
                    <p class="skill-name">JavaScript</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="ds-icon" class="fa-solid fa-network-wired skill-icon"></i>
                    <p class="skill-name">Data Structures</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="git-icon" class="fa-brands fa-git-alt skill-icon"></i>
                    <p  class="skill-name">Git source control</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="250">
                    <i id="sql-icon" class="fa-solid fa-database skill-icon"></i>
                    <p class="skill-name">MySql Workbench</p>
                </div>

            </div>


        </div>


        <!-- ........................My Projects..................... -->

        <div id="projects">
            <div class="center-div">
                <div class="page-title-div" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="page-title">
                        MY PROJECTS
                    </h2>
                    <div class="hr-title">
                        <div id="title-hr-projects">

                        </div>
                        <p class="sub-title">
                            INVOLEMENT
                        </p>
                    </div>
                </div>
            </div>

            <div id="project-card-div" data-aos="fade-up" data-aos-offset="200">
                <div class="project-cards">
                    <div id="project1-img-div">
                        <div id="project1-img">
                            <div class="project-icon-div">
                                <a href="https://github.com/Pritesh2004/AptitudeAce-Backend" > 
                                    <i class="fa-solid fa-arrow-right project-icon"></i></a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="project-info">
                        <p class="project-name">
                            AptitudeAce
                        </p>
                    </div>
                </div>

                <div class="project-cards">
                    <div id="project2-img-div">
                        <div id="project2-img">
                            <div class="project-icon-div">
                                <i routerLink="/" class="fa-solid fa-arrow-right project-icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="project-info">
                        <p class="project-name">
                            MY PERSONAL PORTFOLIO
                        </p>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>






<app-footer></app-footer>