#screen {
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    background-color: #f5f8fd;
}

#content{
    min-height: 110vh;
    width: 84%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 35px;
    padding-top: 40px;
    padding-bottom: 80px;
}



#services{
    padding-top: 100px;
}

#service-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-card{
    margin-top: 25px;
    margin-left: 25px;
    height: 340px;
    width: 450px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-icon{
    height: 80px;
}

.service-name{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
}

.service-info{
    margin-top: 16px;
    font-size: 15px;
    margin-left:7% ;
    margin-right: 7%;
    text-align: center;
}

.service-card:hover{
    background-color: #18222b;
    color: white;
}

@media screen and (max-width:1000px) {
    #service-div{
    flex-wrap: wrap;

    }
    .service-card{
    margin-left: 0;
    }
}

#skills {
    margin-top: 100px;
}

#skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
}

.skills-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 25px;
    margin-left: 23px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.skill-icon{
    color: teal;
    font-size: 60px;
}

#java-icon{
    color: #e82830;
}

#spring-icon{
   color: #6db33f;
}

#boot-icon{
    color: #6db33f;
 }

 #angular-icon{
    color: #de002d;
 }
 
 #html-icon{
    color: #e44d26;
 }
 
 #css-icon{
    color: #2299f8;
 }
 
 #js-icon{
    color: #f7df1e;
 }

 #ds-icon{
    color: #009ad3;
 }

 #git-icon{
    color: #f05033;
 }

 #sql-icon{
    color: #4479a1;
 }

.skill-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    color: #18222b;
}

.skills-card:hover {
    background-color: #18222b;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #18222b;
 
}

.skills-card:hover .skill-name {
    color: white;
}

.skills-card:hover .skill-icon{
    color: white;
}



@media screen and (max-width:1010px) {
    .skills-card {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:500px) {
    .skills-card {
        width: 150px;
        height: 150px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .skill-icon {
        margin-top: 10px;
        font-size: 45px;
        }

    #skills-div {
        padding-right: 10px;
    }

    .skill-name {
        font-size: 14px;
        text-wrap: wrap;
        margin-top: 8px;
    }

}

@media screen and (max-width:410px) {
    .skills-card {
        width: 130px;
        height: 130px;
    }
}
