#projects {
    margin-top: 100px;
}

#project-card-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
       padding-right: 30px;

}

.project-cards {
    background-color: #18222b;
    margin-top: 10px;

    width: 340px;
    height: 440px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 30px;
    margin-top: 25px;
    transition: all 0.4s ease;

}


#project-img-div {
    height: 82%;
    width: 100%;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}



#project1-img {
    width: 70%;
    background-image: url(./../../../assets/project3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#project3-img {
    width: 70%;
    background-image: url(./../../../assets/a3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#project4-img {
    width: 70%;
    background-image: url(./../../../assets/ChatApp.png);
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#project2-img {
    width: 70%;
    background-image: url(./../../../assets/project2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.project-cards:hover {
    scale: 1.05;
    transition: all 0.4s ease;
}

.project-cards:hover #project1-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover #project2-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover .project-icon-div {
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s ease;
}

.project-icon {
    font-size: 25px;
    color: white;

}

.project-icon-div {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0;
    margin-top: 30px;
    border: 2px solid #18222b;
    background-color: #18222b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-icon-div:hover {
    background-color: white;
    transition: all 0.4s ease;
}

.project-icon-div:hover .project-icon {
    color: #18222b;
    transition: all 0.4s ease;
}

.project-info {
    height: 18%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.project-name {

    font-size: 18px;
    font-weight: 500;
    color: #18222b;
}

.project-date {
    font-size: 16px;
    color: teal;
    font-weight: 400;
}


@media screen and (max-width:1036px) {
    .project-cards {

        width: 330px;
        height: 350px;
    }
}

@media screen and (max-width:895px) {
    #project-card-div {
        justify-content: center;
    }

    .project-cards {

        width: 400px;
        height: 350px;
    }
}

@media screen and (max-width:500px) {
    .project-name {
        font-size: 14px;
    }
    .project-cards {

        width: 400px;
        height: 400px;
    }
}




