<app-navbar></app-navbar>
<div id="screen">
    <div id="about">

        <!-- ........................About....................... -->

        <div>
            <div class="page-title-div" data-aos="fade-up">
                <h2 class="page-title">
                    ABOUT ME
                </h2>
                <div class="title-hr">

                </div>
            </div>

            <div id="about-div" data-aos="fade-up" data-aos-delay="800">
                <img id="profile-img" src="./../../../assets/Pritesh Profile.jpg" alt="Pritesh">
                <div id="about-info">

                    <div id="profile-title">
                        <p id="profile-heading">Full-Stack Developer</p>
                        <p id="profile-discription">I enjoy designing and developing websites.</p>
                    </div>

                    <div id="profile-content">
                        <div class="profile-contents">
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Name : </p>
                                <p class="profile-a">Pritesh Patil</p>
                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Birthday : </p>
                                <p class="profile-a">16/01/2023</p>

                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Email : </p>
                                <p class="profile-a">patilpritesh7277@gmail.com</p>

                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Phone : </p>
                                <p class="profile-a">(91) 8689987277</p>

                            </div>
                        </div>
                        <div class="profile-contents">
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">City : </p>
                                <p class="profile-a">Navi Mumbai</p>

                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Age : </p>
                                <p class="profile-a">19</p>

                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Education : </p>
                                <p class="profile-a">BTECH (Ongoing)</p>

                            </div>
                            <div class="profile-details">
                                <p class="arrow">➤</p>
                                <p class="profile-q">Languages : </p>
                                <p class="profile-a">English, Hindi, Marathi</p>

                            </div>
                        </div>
                    </div>

                    <div id="profile-summary-div">
                        <p id="profile-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, et
                            dolorem repellat hic magnam expedita molestias natus recusandae, mollitia accusamus, unde
                            quaerat amet dignissimos voluptas perspiciatis obcaecati perferendis eum aliquam consectetur
                            ea labore! Veritatis dolores, corporis sequi sit tempore rem delectus at, autem repudiandae,
                            vero officiis voluptatibus ipsa nesciunt vel? Ducimus ab velit explicabo debitis.</p>
                    </div>

                </div>
            </div>


            <div id="extra-info-div" data-aos="fade-up" data-aos-delay="800">
                <div class="extra-cards">
                    <div class="blank-card">

                    </div>
                    <div class="extra-logo">
                        <div class="icon-card" (click)="openExperienceDialog()">
                            <i class="fa fa-file-text-o extra-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <p class="extra-card-num ">1</p>
                        <p class="extra-card-name">Experience</p>
                    </div>
                </div>

                <div class="extra-cards">
                    <div class="blank-card">

                    </div>

                    <div class="extra-logo">
                        <div class="icon-card" (click)="openEducationDialog()">
                            <i class="fa fa-book extra-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <p class="extra-card-num ">2</p>
                        <p class="extra-card-name">Education</p>
                    </div>
                </div>

                <div class="extra-cards">
                    <div class="blank-card">

                    </div>
                    <div class="extra-logo">

                        <div class="icon-card" (click)="openCertificateDialog()">
                            <i class="fa fa-certificate extra-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <p class="extra-card-num ">5</p>
                        <p class="extra-card-name">Certification</p>
                    </div>
                </div>

                <div class="extra-cards">
                    <div class="blank-card">

                    </div>
                    <div class="extra-logo">
                        <div class="icon-card" (click)="openProjectDialog()">
                            <i class="fa fa-tasks extra-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="info-card">
                        <p class="extra-card-num ">2</p>
                        <p class="extra-card-name">Projects</p>
                    </div>
                </div>
            </div>

        </div>


        <!-- ..........................SKILLS SECTION......................... -->
        <div id="skills">

            <div class="page-title-div" data-aos="fade-up"  data-aos-delay="500">
               
                <h2 class="page-title">
                    MY SKILLS
                </h2>
                <div class="title-hr">

                </div>
            </div>

            <div id="skills-div">

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100"
                >
                    <img src="./../../../assets/java icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Java</p>
                </div>

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100"
                >
                    <img src="./../../../assets/spring icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Spring Framework</p>
                </div>

                <div class="skills-card" data-aos="fade-up"     data-aos-delay="100"
                >
                    <img src="./../../../assets/spring boot.Default" alt="logo" class="skills-icon">
                    <p class="skill-name">Spring Boot</p>
                </div>

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100">
                    <img src="./../../../assets/angular icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Angular Js</p>
                </div>

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100">
                    <img src="./../../../assets/html.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Html</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="./../../../assets/css.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Css</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="./../../../assets/js icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">JavaScript</p>
                </div>

                <div class="skills-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="./../../../assets/ds icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Data Structures</p>
                </div>

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100">
                    <img src="./../../../assets/git icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">Git source control</p>
                </div>

                <div class="skills-card" data-aos="fade-up"  data-aos-delay="100">
                    <img src="./../../../assets/mysql icon.png" alt="logo" class="skills-icon">
                    <p class="skill-name">MySql Workbench</p>
                </div>

            </div>


        </div>

        <!-- ........................My Projects..................... -->

        <div id="projects">
            <div class="page-title-div" data-aos="fade-up" data-aos-offset="100">
                <h2 class="page-title">
                    MY PROJECTS
                </h2>
                <div class="title-hr">

                </div>
            </div>

            <div id="project-card-div" data-aos="fade-up" data-aos-offset="100">
                <div class="project-cards">
                    <div class="project-img-div">
                        <img class="project-img" src="./../../../assets/health care 1.png" alt="">
                    </div>
                    <div class="project-info">
                        <div class="project-name-div">
                            <p class="project-name">
                                Doctor appointment booking system
                            </p>
                            <p class="project-date">
                                7/12/2023
                            </p>
                        </div>
                        <div (click)="openProject1Dialog()" class="project-icon-div" matTooltip="Click for project details">
                            <i class="fa fa-expand project-icon " aria-hidden="true"></i>
                        </div>

                    </div>
                </div>

                <div class="project-cards">
                    <div class="project-img-div">
                        <img class="project-img" src="./../../../assets/portfolio-ss.png" alt="">
                    </div>
                    <div class="project-info">
                        <div class="project-name-div">
                            <p class="project-name">
                                My Personal Portfolio
                            </p>
                            <p class="project-date">
                                7/12/2023
                            </p>
                        </div>
                        <div (click)="openProject2Dialog()" class="project-icon-div" matTooltip="Click for project details">
                            <i class="fa fa-expand project-icon " aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- .......................resume......................... -->

        <div id="resume">

            <div class="page-title-div" data-aos="fade-up" data-aos-offset="100">
                <h2 class="page-title">
                    MY RESUME
                </h2>
                <div class="title-hr">
                </div>
            </div>

            <div id="resume-content">
                <p id="resume-info" data-aos="fade-up" data-aos-offset="100">Welcome to a glimpse of my professional story! If you're eager to delve into the details, feel free to download my resume using the link below. It's a curated collection of my skills, experiences, and achievements that make up the unique tapestry of my career.</p>
                <a href="./../../../assets/Pritesh Patil Resume .pdf">
                <button id="resume-btn" data-aos="fade-up" data-aos-offset="100">Download My Resume</button>
            </a>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>