#screen {
    min-height: 100vh;
    background-color: whitesmoke;
    margin: 0;
}

#about {
    min-height: 110vh;
    width: 84%;
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 35px;
    padding-top: 40px;
    padding-bottom: 80px;

}

.page-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.page-title {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: .5px;
}

.title-hr {
    margin-top:5px;
    height: 3.8px;
    background-color: teal;
    width: 60px;
}

#about-div {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 10px;
    background-color: white;
    border-radius: .8%;
}

#profile-img {
    height: 450px;

}

#about-info {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

#profile-title {
    margin-top: 5px;
}

#profile-heading {
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#profile-discription {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 16px;

}

#profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.profile-contents {
    display: flex;
    flex-direction: column;
}

.profile-details {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.arrow {
    font-size: 20px;
    color: teal;
}

.profile-q {
    font-weight: lighter;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;

}

.profile-a {
    font-weight: 400;
    margin-left: 5px;
    font-size: 16px;


}

#profile-summary {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    font-weight: 400;

}

@media screen and (max-width:1400px) and (min-width:1201px) {

    .page-title {
        font-size: 30px;
    }

    #profile-img {
        height: 350px;
    }

    #profile-heading {
        font-size: 25px;
    }

    #profile-discription {
        font-size: 20px;
    }

    .profile-q {
        font-size: 15px;
    }

    .profile-a {
        font-size: 15px;
    }

    #profile-summary {
        font-size: 15px;
    }

}

@media screen and (max-width:1200px) {

    #about-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #profile-img {
        width: 500px;
        height: 500px;
    }

    #profile-title {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

    }

    #profile-discription {
        margin-top: 2px;
    }

}

@media screen and (max-width:890px) {

    #profile-content {
        flex-direction: column;
    }

}

@media screen and (max-width:890px) {


    #about-div {
        align-items: start;
    }

    #profile-img {
        width: 400px;
        height: 400px;
    }

    #about-info {
        padding-left: 0px;
    }


}

@media screen and (max-width:590px) {

    #about {
        margin-left: 3%;
        width: 94%;
        margin-top: 90px;
    }

    .page-title {
        font-size: 30px;
    }
    .title-hr {
        margin-top: 0;
    }

}


@media screen and (max-width:490px) {

    .page-title {
        font-size: 25px;
        padding-left: 15px;
    }

    #about-div {
        padding: 15px;
    }

    #profile-img {
        width: 90%;
        height: 90%;
    }

    #profile-heading {
        font-size: 25px;
    }

    #profile-discription {
        font-size: 16px;
    }

    #profile-content {
        margin-top: 0px;
    }

    .profile-q {
        font-size: 15px;
    }

    .profile-a {
        font-size: 15px;
    }

    #profile-summary {
        margin-top: 5px;
        font-size: 16px;
    }

}
#skills {
    margin-top: 115px;
}

#skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 10px;
    margin-top: 40px;
}

.skills-card {
    width: 230px;
    height: 230px;
    background-color: #18222b;
    margin-top: 25px;
    margin-left: 23px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.5);
    transition: all 1s;


}

.skills-card:hover {
    transition: all 1s;
    box-shadow: 0 0 0 0 white;
    background-color: transparent;
}

.skills-card:hover .skills-icon {
    transform: scale(1.6);
    transition: all 1s;
    cursor: pointer;

}

.skills-card:hover .skill-name {
    opacity: 0;
}


.skills-icon {
    height: 35%;
    margin-top: 60px;
}

.skill-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
}

@media screen and (max-width:1010px) {
    .skills-card {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:500px) {
    .skills-card {
        width: 140px;
        height: 140px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .skills-icon {
        margin-top: 30px;
    }

    #skills-div {
        padding-right: 10px;
    }

    .skill-name {
        font-size: 14px;
        text-wrap: wrap;
        margin-top: 20px;
    }

}
