<app-navbar></app-navbar>
<div id="screen">

    <!-- ........................About....................... -->
    <div id="content">

        <div class="page-title-div" data-aos="fade-up">
            <h2 class="page-title">
                ABOUT ME
            </h2>
            <div class="hr-title">
                <div id="title-hr-about">

                </div>
                <p class="sub-title">
                    PROFILE
                </p>
            </div>

        </div>

        <div id="about-div" data-aos="fade-up" data-aos-delay="800">
            <img id="profile-img" src="./../../../assets/profile.jpeg" alt="Pritesh">
            <div id="about-info">

                <div id="profile-title">
                    <p id="profile-heading">Software Engineer</p>
                    <p id="profile-discription">I enjoy designing and developing websites.</p>
                </div>

                <div id="profile-content">
                    <div class="profile-contents">
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Name : </p>
                            <p class="profile-a">Pritesh Patil</p>
                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Birthday : </p>
                            <p class="profile-a">16/01/2004</p>

                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Email : </p>
                            <p class="profile-a">patilpritesh7277@gmail.com</p>

                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Phone : </p>
                            <p class="profile-a">(91) 8689987277</p>

                        </div>
                    </div>
                    <div class="profile-contents">
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">City : </p>
                            <p class="profile-a">Navi Mumbai</p>

                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Age : </p>
                            <p class="profile-a">21</p>

                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Education : </p>
                            <p class="profile-a">BTECH (Ongoing)</p>

                        </div>
                        <div class="profile-details">
                            <p class="arrow">➤</p>
                            <p class="profile-q">Languages : </p>
                            <p class="profile-a">English, Hindi, Marathi</p>

                        </div>
                    </div>
                </div>

                <div id="profile-summary-div">
                    <p id="profile-summary">I am a passionate and motivated software engineer with a strong foundation in Java and Spring Boot, focused on delivering impactful software solutions. I have hands-on experience in backend development, microservices, and building scalable applications. I am eager to continuously learn, adapt, and take on new challenges to grow professionally.</p>
                </div>

            </div>
        </div>

        <!-- summary -->
        <div class="summary-div">
            <div class="summary-card">
                <img class="summary-icon" src="./../../../assets/certification.png" alt="">
                <div class="summary-info-div">
                    <p class="summary-count">
                        6
                    </p>
                    <p class="summary-title">
                        Certificates
                    </p>
                </div>
            </div>
            <div class="summary-card">
                <img class="summary-icon" src="./../../../assets/graduation-cap.png" alt="">
                <div class="summary-info-div">
                    <p class="summary-count">
                        3
                    </p>
                    <p class="summary-title">
                        Education
                    </p>
                </div>
            </div>
            <div class="summary-card">
                <img class="summary-icon" src="./../../../assets/planning.png" alt="">
                <div class="summary-info-div">
                    <p class="summary-count">
                        4
                    </p>
                    <p class="summary-title">
                        Projects
                    </p>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div id="education">

            <div class="center-div">
                <div class="page-title-div" data-aos="fade-up" data-aos-delay="200">
                    <h2 class="page-title">
                        EDUCATION
                    </h2>
                    <div class="hr-title">
                        <div id="title-hr-education">

                        </div>
                        <p class="sub-title">
                            LEARNING
                        </p>
                    </div>
                </div>
            </div>

            <div class="education-div">

                <div class="education-card" data-aos="fade-right" data-aos-delay="500">
                    <div class="education-date-div" id="date1">
                        <p class="education-date">
                            2018-2019
                        </p>
                    </div>
                    <div class="education-info">
                        <p class="education-name">
                            Secondary School Certificate
                        </p>
                        <p class="school-name">
                            Indian Education Society - JNPV Township
                        </p>
                        <p class="education-discription">
                            In 2019, I successfully completed my 10th standard education at IES JNVP, achieving a commendable score of 76.6%. 
                        </p>
                    </div>
                </div>

                <div class="education-card" data-aos="fade-right" data-aos-delay="500">
                    <div class="education-date-div" id="date2">
                        <p class="education-date">
                            2019-2021
                        </p>
                    </div>
                    <div class="education-info">
                        <p class="education-name">
                            Higher Secondary School Certificate </p>
                        <p class="school-name">
                            URAN Education Society - Uran
                        </p>
                        <p class="education-discription">
                           
In 2021, I successfully completed my 12th standard at UES Uran with an outstanding academic achievement, securing an impressive score of 91.0%. 
                        </p>
                    </div>
                </div>

                <div class="education-card" data-aos="fade-right" data-aos-delay="500">
                    <div class="education-date-div" id="date3">
                        <p class="education-date">
                            2021-2025
                        </p>
                    </div>
                    <div class="education-info">
                        <p class="education-name">
                            Bachelor of Technology (BTECH - IT)
                        </p>
                        <p class="school-name">
                            Pillai College of Engineering - New Panvel
                        </p>
                        <p class="education-discription">
                            I'm currently thriving in my B.Tech in IT engineering, having completed five semesters with an average SGPA of 8.8
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <!-- <div id="extra-info-div" data-aos="fade-up" data-aos-delay="200">
            <div class="extra-cards">
                <div class="blank-card">

                </div>
                <div class="extra-logo">
                    <div class="icon-card" (click)="openExperienceDialog()">
                        <i class="fa fa-file-text-o extra-icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="info-card">
                    <p class="extra-card-num ">1</p>
                    <p class="extra-card-name">Experience</p>
                </div>
            </div>

            <div class="extra-cards">
                <div class="blank-card">

                </div>

                <div class="extra-logo">
                    <div class="icon-card" (click)="openEducationDialog()">
                        <i class="fa fa-book extra-icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="info-card">
                    <p class="extra-card-num ">2</p>
                    <p class="extra-card-name">Education</p>
                </div>
            </div>

            <div class="extra-cards">
                <div class="blank-card">

                </div>
                <div class="extra-logo">

                    <div class="icon-card" (click)="openCertificateDialog()">
                        <i class="fa fa-certificate extra-icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="info-card">
                    <p class="extra-card-num ">5</p>
                    <p class="extra-card-name">Certification</p>
                </div>
            </div>

            <div class="extra-cards">
                <div class="blank-card">

                </div>
                <div class="extra-logo">
                    <div class="icon-card" (click)="openProjectDialog()">
                        <i class="fa fa-tasks extra-icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="info-card">
                    <p class="extra-card-num ">2</p>
                    <p class="extra-card-name">Projects</p>
                </div>
            </div>
        </div> -->

    



    <!-- .......................resume......................... -->

    <div id="resume">

        <div class="center-div">
            <div class="page-title-div" data-aos="fade-up" data-aos-delay="200">
                <h2 class="page-title">
                    MY RESUME
                </h2>
                <div class="hr-title">
                    <div id="title-hr-resume">

                    </div>
                    <p class="sub-title">
                        DETAILS
                    </p>
                </div>
            </div>
        </div>

        <div id="resume-content">
            <p id="resume-info" data-aos="fade-up" data-aos-offset="200" data-aos-delay="400">Welcome to a glimpse of my professional
                story! If you're eager to delve into the details, feel free to download my resume using the link
                below. It's a curated collection of my skills, experiences, and achievements that make up the unique
                tapestry of my career.</p>
            <a href="./../../../assets/PRITESH_MAHADEV_PATIL.pdf">
                <button id="resume-btn" data-aos="fade-up" data-aos-offset="100" data-aos-delay="1000">
                    Download Resume 
                </button>
            </a>
        </div>
    </div>
</div>

</div>
<app-footer></app-footer>