<div class="project-card">
  

    <div class="project-img-div">
        <img class="project-img" src="./../../../assets/health care 1.png">
    </div>

    <div class="project-info">
        <p class="project-name">
            Doctor Appointment Booking System
        </p>
        <i class='fab fa-java'></i>

        <p class="project-discription">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptates doloremque iste nulla aut,
            molestias vitae similique minima esse placeat!
        </p>
        <p class="tech-stack">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In corporis et consequatur rem doloribus tempora.
        </p>
        <div class="project-links">
            <button class="project-link">
                Visit
            </button>
            <button class="project-git">
                Github Repo
            </button>
        </div>
    </div>

</div>