<footer>
    <div id="bottom-nav" class="h35">

        <div id="icons-div">
            <a href="https://www.linkedin.com/in/pritesh-patil-57267b2a3/">
                <div class="icons linkedin">
                    <i class="icon fa fa-linkedin-square"></i>
                </div>
            </a>
            <a href="">
                <div class="icons instagram">
                    <i class="icon fa fa-instagram"></i>
                </div>
            </a>
            <a href="https://github.com/Pritesh2004">
                <div class="icons github">
                    <i class="icon fa fa-github"></i>
                </div>
            </a>
            <div routerLink="/contact" class="icons mail">
                <i class="icon fa fa-envelope"></i>
            </div>

        </div>

        <div id="copyright">
            <p id="cpr-name">PRITESH PATIL</p>
            <p id="cpr-date">©2024</p>
        </div>

    </div>
</footer>