<div class="bootstrap-wrapper" id="entire-page">
    <div class="row">
        <div class="col">


            <div class="row " id="starting">
                <div class="col">


                    <mat-toolbar class="fixed">
                        <h1 id="nav-heading">Pritesh</h1>
                        <div class="nav-links">
                            <button mat-button class="nav-link">Home</button>
                            <button mat-button class="nav-link">About</button>
                            <button mat-button class="nav-link">Skills</button>
                            <button mat-button class="nav-link">Projects</button>
                            <button mat-button class="nav-link">Contact</button>
                        </div>

                        <div id="nav-logos">
                            <img class="nav-logo" src="./../../../assets/instagram.png" alt="Instagram" width="20%"
                                height="20%">
                            <img class="nav-logo" src="./../../../assets/LinkedIn Logo.png" alt="LinkedIn" width="20%"
                                height="20%">
                            <img class="nav-logo" src="./../../../assets/Github Logo.png" alt="Github" width="20%"
                                height="20%">
                        </div>


                    </mat-toolbar>


                    <div class="row " id="home">

                        <div class="col-lg-12">
                            <div id="introduction">
                                <p id="home-name">Pritesh Patil</p>
                                <p id="home-title">I'm Full-Stack Developer, I enjoy designing and developing websites.
                                </p>

                                <button id="home-button" mat-raised-button color="primary">Get in touch</button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>



            <div class="row " id="about">
                <div class="col-lg-12">
                    <mat-card class=" about-card">
                        <mat-card-content>

                            <div class="row">

                                <div class="col-lg-6">

                                    <div class="row ">
                                        <div class="col-lg-4">
                                            <img id="profile-img" src="./../../../assets/Pritesh Profile.jpg"
                                                alt="Profile Picture" width="75%">
                                        </div>
                                        <div class="col-lg-8">
                                            <div id="about-profile">
                                                <div class="flex-row">
                                                    <p class="about-info">Name : </p>
                                                    <p class="about-data">Pritesh Patil</p>
                                                </div>
                                                <div class="flex-row">
                                                    <p class="about-info">Profile : </p>
                                                    <p class="about-data">Full-Stack Developer</p>
                                                </div>
                                                <div class="flex-row">
                                                    <p class="about-info">Email : </p>
                                                    <p class="about-data">patilpritesh7277@gmail.com</p>
                                                </div>
                                                <div class="flex-row">
                                                    <p class="about-info">Phone : </p>
                                                    <p class="about-data">(91) 8689987277</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                                <p id="about-skills">Skills</p>
                                                <div class="about-skill">
                                                    <p class="about-skill-name">Java 70%</p>
                                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                                </div>
                                                <div class="about-skill">
                                                    <p class="about-skill-name">HTML 90%</p>
                                                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                                                </div>
                                                <div class="about-skill">
                                                    <p class="about-skill-name">CSS 80%</p>
                                                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                                </div>
                                                <div class="about-skill">
                                                    <p class="about-skill-name">JavaScript 30%</p>
                                                    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">

                                    <div id="about-discription">
                                        <p id="about-heading">About me</p>
                                        <hr id="about-hr">
                                        <div id="discription">
                                            <p class="about-myself">Hello, I'm Pritesh Patil, a driven third-year IT
                                                engineering student at
                                                Pillai College of Engineering with a passion for full-stack development
                                                and
                                                web design. My journey in the world of technology has been marked by
                                                continuous learning and growth.

                                            </p>
                                            <p class="about-myself"> Throughout my academic journey, I've honed my
                                                skills in various
                                                technologies, including Java, Spring Framework, Angular JS, HTML, CSS,
                                                MySQL
                                                and many more. These tools have equipped me with a strong foundation to
                                                pursue my goal of becoming a proficient full-stack developer upon the
                                                completion of my engineering degree.</p>
                                            <p class="about-myself"> Feel free to reach out if you'd like to connect,
                                                collaborate, or simply chat
                                                about all things tech. Let's build the digital world of tomorrow
                                                together!
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>



            <div class="row" id="education">
                <div class="col-lg-12">



                    <div class="row h100 mt2">
                        <div class="col-lg-1"></div>


                        <div class="col-lg-10" id="education-content">

                            <div class="row">

                                <div class="col-lg-6">


                                    <div id="education-head">
                                        <p id="education-heading">Education</p>
                                    </div>
                                    <div>
                                        <mat-icon class="education-icon1" aria-hidden="false"
                                            aria-label="Example school icon" fontIcon="school"></mat-icon>
                                        <p id="education-level1">Bachelor of Technology</p>
                                    </div>


                                    <div class="row education-card1">
                                        <div class="col-lg-12">
                                            <p class="education-date"> 2021 - 2025</p>
                                            <p class="education-text">Pillai college of engineering, New-Panvel</p>
                                            <p class="education-text">I am currently in the third year of my IT
                                                engineering program at Pillai College of Engineering, maintaining a
                                                stellar 8.8 SGPA on average."</p>
                                            <button mat-raised-button color="primary">Visit ↗</button>
                                        </div>


                                    </div>

                                    <div>
                                        <mat-icon class="education-icon2" aria-hidden="false"
                                            aria-label="Example history_edu icon" fontIcon="history_edu"></mat-icon>
                                        <p id="education-level2">Higher Secondary School Certificate</p>
                                    </div>

                                    <div class="row education-card2">
                                        <div class="col-lg-12">
                                            <p class="education-date"> 2019 - 2021</p>
                                            <p class="education-text">Uran Education Society, Uran</p>
                                            <p class="education-text">I successfully completed my Higher Secondary
                                                School Certificate (HSC) at Uran Education Society Junior College of
                                                Science with an outstanding score of 91% in the HSC board exams.</p>
                                            <a href="./../../../assets/Hsc Marksheet.pdf">
                                                <button mat-raised-button color="primary">Visit ↗</button></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">

                                    <div id="certificate-head">
                                        <p id="certificate-heading">
                                            Certificates
                                        </p>
                                    </div>

                                    <div id="core-java">
                                        <img id="is-img" src="./../../../assets/Internshala logo.png" alt="Internshala"
                                            width="4%">
                                        <p id="cf1">Traning on Core Java</p>
                                    </div>

                                    <div class="row " id="certificate-card1">
                                        <div class="col-lg-12">
                                            <p class="cf-company">Internshala Tranings</p>
                                            <p class="cf-date">Issued Jan 2023</p>
                                            <a
                                                href="./../../../assets/Core Java Training - Certificate of Completion (1).pdf">
                                                <button mat-raised-button color="primary">Check ↗</button></a>
                                        </div>
                                    </div>

                                    <div id="core-java">
                                        <img id="ln-img1" src="./../../../assets/LinkedIn Logo.png" alt="Internshala"
                                            width="4%">
                                        <p id="cf2">Java 11 Esential</p>
                                    </div>

                                    <div class="row" id="certificate-card2">
                                        <div class="col-lg-12">
                                            <p class="cf-company">LinkedIn</p>
                                            <p class="cf-date">Issued Dec 2023</p>

                                            <a
                                                href="./../../../assets/CertificateOfCompletion_Learning Java 11 (1).pdf">
                                                <button mat-raised-button color="primary">Check ↗</button></a>
                                        </div>
                                    </div>

                                    <div id="core-java">
                                        <img id="ln-img2" src="./../../../assets/LinkedIn Logo.png" alt="Internshala"
                                            width="4%">
                                        <p id="cf3">Java OOPs</p>
                                    </div>
                                    <div class="row" id="certificate-card3">
                                        <div class="col-lg-12">
                                            <p class="cf-company">LinkedIn</p>
                                            <p class="cf-date">Issued Dec 2023</p>
                                            <a
                                                href="./../../../assets/CertificateOfCompletion_Java ObjectOriented Programming (1).pdf">
                                                <button mat-raised-button color="primary">Check ↗</button></a>
                                        </div>
                                    </div>





                                </div>



                            </div>

                        </div>
                        <div class="col-lg-1"></div>
                    </div>

                </div>
            </div>



            <div class="row " id="skills">
                <div class="col-lg-12">


                    <div id="skills-head">
                        <p id="skills-heading">Skills</p>
                    </div>
                    <hr id="skills-hr">

                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="row h100">
                                <div class="col-lg-4">
                                    <mat-card class="skills-card">

                                        <mat-card-content>

                                        </mat-card-content>

                                    </mat-card>

                                </div>
                                <div class="col-lg-4">
                                    <mat-card class="skills-card">

                                        <mat-card-content>

                                        </mat-card-content>

                                    </mat-card>

                                </div>
                                <div class="col-lg-4">
                                    <mat-card class="skills-card">

                                        <mat-card-content>

                                        </mat-card-content>

                                    </mat-card>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-1"></div>


                    </div>
                </div>
            </div>



            <div class="row " id="projects">
                <div class="col-lg-12">

                </div>
            </div>



            <div class="row " id="contact">
                <div class="col-lg-12">

                </div>
            </div>



        </div>
    </div>
</div>