<app-navbar></app-navbar>

<div class="intro" id="intro">
    <div id="name" data-aos="fade-down" data-aos-delay="500" data-aos-offset="-1000">

        <p id="home-name">I am </p>
        <p id="pritesh">Pritesh Patil</p>
    </div>
    <p id="home-title" class="tw" data-aos="zoom-in" data-aos-offset="-1000" data-aos-delay="1200"></p>

    <div class="button-div">
        <a href="./../../../assets/Pritesh Resume.pdf">
        <button  id="download-btn" data-aos="fade-right" data-aos-offset="-1000" data-aos-delay="2200">
            Download Resume
        </button>
    </a>
        <button routerLink="/contact" id="contact-btn" data-aos="fade-left" data-aos-offset="-1000" data-aos-delay="2200">Get in touch
        </button>
    </div>
    

</div>

<app-footer></app-footer>