.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background-image: url(./../../../assets/dark-geometric-background-with-copy-space.jpg);
    background-size: cover;
}

#name {
    display: flex;
    flex-direction: row;
    margin-top: 130px;

}

#pritesh {
    font-size: 80px;
    font-family: var(--bs-body-font-family);
    margin-left: 22px;
    color: white;
    letter-spacing: 2.5px;
    word-spacing: -6px;
    font-weight: 500;
}

#home-name {
    font-size: 80px;
    font-family: var(--bs-body-font-family);
    letter-spacing: 2.5px;
    word-spacing: 1px;
    font-weight: 500;
    color: white;

}

#home-title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: lighter;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    color: white;

}

.button-div{
    display: flex;
    flex-direction:row ;
    margin-top: 25px;

}

#download-btn{
    height: 60px;
    width: 220px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: solid 2px teal;
    font-weight: lighter;
    color: white;
    border-radius: 30px;
}

#download-btn:hover{
    background-color:teal;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

#contact-btn {
    margin-left: 20px;
    height: 60px;
    width: 220px;
    text-align: center;
    font-size: 18px;
    background-color: teal;
    border: solid 2px teal;
    font-weight: lighter;
    color: white;
    border-radius: 30px;
}

#contact-btn:hover {
    background-color: transparent;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}



@media screen and (max-width:780px){
    #pritesh {
        font-size: 60px;
    }
    #home-name {
        font-size: 60px;
    }
    #home-title {
        margin-top: 30px;
        font-size: 30px;
    }
    #home-btn {
        margin-top: 20px;
    }
  
}

@media screen and (max-width:600px){

    #download-btn{
        height: 50px;
        width: 200px;
        font-size: 16px;
    }

    
    #contact-btn{
        height: 50px;
        width: 200px;
        font-size: 16px;

    }

    #pritesh {
        font-size: 50px;
    }
    #home-name {
        font-size: 50px;
    }
    #home-title {font-size: 28px;}
   
}

@media screen and (max-width:500px){

    #download-btn{
        height: 43px;
        width: 170px;
        font-size: 15px;
    }
    
    #contact-btn{
        margin-left: 10px;
        height: 43px;
        width: 170px;
        font-size: 15px;

    }

    #name {
    margin-top: 20px;
    }
    #pritesh {
        font-size: 45px;
        margin-left: 10px;

    }
    #home-name {
        font-size: 45px;
    }
    #home-title {font-size: 25px;}

}

@media screen and (max-width:430px){

    #download-btn{
        height: 40px;
        width: 160px;
        font-size: 14px;
    }

    #contact-btn{
        height: 40px;
        width: 160px;
        font-size: 14px;

    }


    #pritesh {
        font-size: 35px;
    }
    #home-name {
        font-size: 35px;
    }
    #home-title {
        font-size: 22px;
        margin-top: 20px;
    }   
}