<div class="boostrap-wrapper" id="screen">

    <div class="row">
        <div class="col-lg-12">

            <!--.......................NavBar.........................-->
            <nav id="navbar">
                <div class="navlink" [class.menuClass]="menuVariable">
                    <p class="navlinks">HOME</p>
                    <p class="navlinks">ABOUT</p>
                    <p class="navlinks">SKILLS</p>
                    <p class="navlinks">PROJECTS</p>
                    <p class="navlinks">CONTACT</p>
                </div>

                <button (click)="openMenu()" id="menu-btn" mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </nav>


            <!--.......................Home.........................-->
            <div class="row " id="home">
                <div class="col-lg-12 h100">

                    <div class="intro">
                        <div id="name">
                            <p id="home-name">Hello I'm </p>
                            <p id="pritesh">Pritesh Patil</p>
                        </div>
                        <p id="home-title">I'm Full-Stack Web Developer</p>
                        <button id="home-btn">Get in touch ↗</button>
                    </div>

                </div>
            </div>



            <!--.......................About.........................-->
            <div class="row" id="content">
                <div class="col-lg-12">

                    <div id="content-div">

                        <div id="about">

                            <div id="about-head">
                                <p id="about-heading">ABOUT</p>
                                <div id="about-hr"></div>

                            </div>

                            <p id="about-title">LEARN MORE ABOUT ME</p>

                            <div id="about-content">

                                <img id="profile-img" src="./../../../assets/Pritesh Profile.jpg" alt="Pritesh">
                                <div id="profile-info">

                                    <p id="profile-title">Full-Stack Developer</p>

                                    <p id="profile-title-info">I enjoy designing and developing websites.</p>

                                    <div id="profile-content">
                                        <div id="profile-content1">

                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Name : </p>
                                                <p class="profile-a">Pritesh Patil</p>
                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Birthday : </p>
                                                <p class="profile-a">16/01/2023</p>

                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Email : </p>
                                                <p class="profile-a">patilpritesh7277@gmail.com</p>

                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Phone : </p>
                                                <p class="profile-a">(91) 8689987277</p>

                                            </div>

                                        </div>
                                        <div id="profile-content2">

                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">City : </p>
                                                <p class="profile-a">Navi Mumbai</p>

                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Age : </p>
                                                <p class="profile-a">19</p>

                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Education : </p>
                                                <p class="profile-a">BTECH (Ongoing)</p>

                                            </div>
                                            <div class="about-me">
                                                <p class="arrow">➤</p>
                                                <p class="profile-q">Languages : </p>
                                                <p class="profile-a">English, Hindi, Marathi</p>

                                            </div>

                                        </div>
                                    </div>

                                    <p id="about-me">Hello, I'm Pritesh Patil, a third-year IT engineering student at
                                        Pillai College of Engineering. I'm passionate about full-stack development and
                                        web design. Proficient in Java, Spring, Angular JS, HTML, CSS, MySQL, and more.
                                        Let's connect and build the digital future together!</p>
                                </div>
                            </div>

                            <div id="about-extra">

                                <div class="extra-cards">
                                    <div id="extra-exp" class="extra-card-symbol">
                                        <i class="fa fa-file-text-o extra-icon" aria-hidden="true"></i>


                                    </div>
                                    <p class="extra-card-num ">1</p>
                                    <p class="extra-card-name">Experience</p>

                                </div>
                                <div class="extra-cards">
                                    <div id="extra-edu" class="extra-card-symbol">
                                        <i class="fa fa-book extra-icon" aria-hidden="true"></i>

                                    </div>
                                    <p class="extra-card-num ">2</p>
                                    <p class="extra-card-name">Education</p>
                                </div>
                                <div class="extra-cards">
                                    <div id="extra-ctf" class="extra-card-symbol">
                                        <i class="fa fa-certificate extra-icon" aria-hidden="true"></i>
                                    </div>
                                    <p class="extra-card-num ">5</p>
                                    <p class="extra-card-name">Certification</p>
                                </div>
                                <div class="extra-cards">
                                    <div id="extra-pro" class="extra-card-symbol">
                                        <i class="fa fa-tasks extra-icon" aria-hidden="true"></i>

                                    </div>
                                    <p class="extra-card-num ">2</p>
                                    <p class="extra-card-name">Projects</p>
                                </div>

                            </div>

                        </div>

                        <!--.......................Skills.........................-->
                        <div id="skills">

                            <div id="skill-head">
                                <p id="skill-heading">SKILLS</p>
                                <div id="skill-hr"></div>
                            </div>
                            <p id="skill-title">MY SKILLS</p>

                            <div id="skill-div">
                                <div id="skill-div1">

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">HTML</p>
                                            <p class="skill-percent">95%</p>
                                        </div>
                                        <div class="progress-bar">
                                            <div id="html-bar">


                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">JavaScript</p>
                                            <p class="skill-percent">35%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="js-bar">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">JAVA</p>
                                            <p class="skill-percent">65%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="java-bar">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">Microservices</p>
                                            <p class="skill-percent">70%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="microservices-bar">

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div id="skill-div2">

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">CSS</p>
                                            <p class="skill-percent">90%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="css-bar">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">Angular JS</p>
                                            <p class="skill-percent">60%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="angular-bar">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">Spring Framework</p>
                                            <p class="skill-percent">50%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="spring-bar">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="skill-container">
                                        <div class="skill-name-percent">
                                            <p class="skill-name">Data Structures</p>
                                            <p class="skill-percent">60%</p>

                                        </div>
                                        <div class="progress-bar">
                                            <div id="ds-bar">

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <!--.......................Projects.........................-->
                        <div id="projects">
                            <div id="project-head">
                                <p id="project-heading">PROJECTS</p>
                                <div id="project-hr"></div>
                            </div>
                            <p id="project-title">MY PROJECTS</p>

                            <div id="project-content">
                                <div class="project-card">
                                    <div class="project-img">
                                        <img src="./../../../assets/man.png" alt="" srcset="" height="100%">

                                    </div>
                                    <div class="project-content">
                                        <p class="project-name">Doctor Appointment Booking System</p>
                                        <p class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Numquam distinctio illo cumque dolores amet autem corrupti quo
                                            voluptatum voluptas et.</p>
                                    </div>
                                </div>
                                <div class="project-card">
                                    <div class="project-img">
                                        <img src="./../../../assets/man.png" alt="" srcset="" height="100%">
                                    </div>
                                    <div class="project-content">
                                        <p class="project-name">My Portfolio Website</p>
                                        <p class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Numquam distinctio illo cumque dolores amet autem corrupti quo
                                            voluptatum voluptas et.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--.......................Contact.........................-->
                        <div id="contact">
                            <div id="contact-head">
                                <p id="project-heading">CONTACT</p>
                                <div id="project-hr"></div>
                            </div>
                            <p id="project-title">MY CONTACTS</p>

                            <div id="contact-content">

                                <div class="contact-content-card">

                                    <div id="contact-address">
                                        <div id="address-icons">
                                            <i class="fa fa-map-marker contact-icon" aria-hidden="true"></i>
                                        </div>
                                        <p class="contact-q">My Address</p>
                                        <p class="contact-a">Ranjanpada, Jasai, Uran, Navi Mumbai, 400702</p>

                                    </div>
                                    <div id="contact-email-num">
                                        <div id="contact-email">
                                            <div class="contact-icons">
                                                <i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i>

                                            </div>
                                            <p class="contact-q">My Email</p>
                                            <p class="contact-a">patilpritesh7277@gmail.com</p>

                                        </div>
                                        <div id="contact-num">
                                            <div class="contact-icons">
                                                <i class="fa fa-phone-square contact-icon" aria-hidden="true"></i>

                                            </div>
                                            <p class="contact-q">My Address</p>
                                            <p class="contact-a">+91 8689987277</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="contact-content-card">


                                    <div id="contact-me-card">
                                        <form class="h100">
                                            <div id="name-email">
                                                <mat-form-field class="name-email">
                                                    <mat-label>Your Name</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                                <mat-form-field class="name-email">
                                                    <mat-label>Your Email</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </div>
                                            <div id="subject">
                                                <mat-form-field id="subject-field">
                                                    <mat-label>Subject</mat-label>
                                                    <input matInput>
                                                </mat-form-field>
                                            </div>
                                            <div id="message">
                                                <mat-form-field id="message-field">
                                                    <mat-label>Message</mat-label>
                                                    <textarea matInput></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div id="submit-btn">
                                                <button id="sub-btn">Send Message </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>



            <!--.......................Copyright.........................-->
            <div class="row h35">
                <div class="col-lg-12 h100">
                    <div id="bottom-nav" class="h35">
                        <div id="icons-div">

                            <div class="icons">
                                <i class="icon fa fa-linkedin-square"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-instagram"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-github"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-envelope"></i>
                            </div>

                        </div>

                        <div id="copyright">
                            <p id="cpr-name">PRITESH PATIL</p>
                            <p id="cpr-date">©2023</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>