#screen {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 505vh;
    position: relative;
    margin: 0;


}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(0, 39, 39);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px #00adad;
    z-index: 9;
}

.navlinks {
    margin-left: 40px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.navlink {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    justify-content: center;
    place-items: center;
    height: 100%;
    margin-top: 8px;
}

.navlinks:hover {
    color: orangered;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#menu-btn {
    position: absolute;
    right: 1%;
    top: 3%;
    display: none;

}

#home {
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 50px;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
}

#name {
    display: flex;
    flex-direction: row;
}

#pritesh {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 12px;
    color: #ff4500;
}

#home-name {
    font-size: 44px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home-title {
    padding-top: 20px;
    font-size: 44px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#home-btn {
    margin-top: 20px;
    height: 45px;
    width: 180px;
    text-align: center;
    font-size: 22px;
    background-color: transparent;
    border: solid 2px teal;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home-btn:hover {
    background-color: teal;
    color: white;
    transition: 0.3s ease-out;
}

#content {
    height: 370vh;
    background-color: white;
    border-top: solid 2px transparent;
}

#content-div {
    margin-top: 25px;
    margin-left: 5%;
    height: 360vh;
    width: 90vw;
    background-color: whitesmoke;
}

#about {
    height: 80vh;
}

#about-head {
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

#about-heading {
    font-size: 17px;
    color: teal;
    font-weight: bold;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-title {
    margin-left: 2%;
    font-size: 33px;
    font-weight: bold;
}

#about-hr {
    margin-top: .8%;
    margin-left: .8%;
height: 2px;
width: 10%;
background-color: orangered;

}

#about-content {
    display: flex;
    flex-direction: row;
}

#profile-img {
    margin-left: 30px;
    margin-top: 20px;
    width: 380px;

}

#profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
}

#profile-title {
    font-weight: bold;
    font-size: 26px;
    margin-top: 25px;
    color: rgb(243, 65, 0);
}

#profile-title-info {
    font-size: 19px;
    color: gray;
}

#about-me {
    font-size: 19px;
    color: gray;
    line-height: 25px;
    margin-right: 100px;
    margin-top: 25px;
}

#profile-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}




#profile-content2 {
    margin-left: 150px;
}

.arrow {
    font-size: 20px;
    color: orangered;
}

.profile-q {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.profile-a {
    margin-left: 5px;
    font-size: 18px;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

#about-extra {

    display: flex;
    flex-direction: row;
    height: 60%;

    margin-top: 5%;
    justify-content: space-evenly;

}

.extra-cards {

    width: 20%;
    height: 37%;
    background-color: rgb(0, 39, 39);
    margin-top: 5%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.extra-card-symbol {
    height: 1.2%;
    width: 2.6%;
    border-radius: 5%;

    text-align: center;
    background-color: #168a8a;

}

#extra-exp {
    position: absolute;
    top: 38.3%;
}

#extra-edu {
    position: absolute;
    top: 38.3%;
}

#extra-ctf {
    position: absolute;
    top: 38.3%;
}

#extra-pro {
    position: absolute;
    top: 38.3%;
}


.extra-icon {
    font-size: 210%;
    margin-top: 17%;
    color: white;

}

/* .extra-icon:hover{
    color:orangered;
    transition: 0.3s ease-out;
} */

.extra-card-symbol:hover,
.extra-icon:hover {
    background-color:orangered;
    transition: 0.3s ease-out;


}

.extra-card-num {
    margin-top: 15%;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.extra-card-name {
    font-size: 18px;
    margin-top: 3%;
    font-weight: lighter;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#skills{
height: 50vh;
margin-top:20%;

}

#skill-head{
    display: flex;
    flex-direction: row;

}

#skill-heading{

    margin-top: 1.5%;
    margin-left: 2.1%;
    font-size: 17px;
    color: teal;
    font-weight: bold;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#skill-hr{
    margin-top: 2.3%;
    margin-left: 0.8%;
height: 2px;
width: 10%;
background-color: orangered;
}

#skill-title {
    margin-left: 2%;
    font-size: 33px;
    font-weight: bold;
}

#skill-div{
height: 40vh;
display: flex;
flex-direction: row;
}

#skill-div1{
width: 50%;
padding-top: 1.5%;
padding-left: 2.3%;
padding-right: 2.5%;
}

.skill-container{
    height: 25%;

}

.skill-name-percent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-name{
font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: lighter;
}

.skill-percent{
font-size: 16px;
font-weight: lighter;
}

.progress-bar{
    width: 100%;
    height: 15%;
    background-color: rgb(230, 230, 230);
}

#html-bar{
    width: 95%;
    height: 100%;
    background-color: teal;
    animation: html 2s ease-in-out;
}

#java-bar{
    width: 65%;
    height: 100%;
    background-color: teal;
    animation: java 2s ease-in-out;

}

#css-bar{
    width: 90%;
    height: 100%;
    background-color: teal;
    animation: css 2s ease-in-out;

}

#js-bar{
    width: 35%;
    height: 100%;
    background-color: teal;
    animation: js 2s ease-in-out;

}

#angular-bar{
    width: 60%;
    height: 100%;
    background-color: teal;
    animation: angular 2s ease-in-out;

}

#microservices-bar{
    width: 70%;
    height: 100%;
    background-color: teal;
    animation: ms 2s ease-in-out;

}

#spring-bar{
    width: 50%;
    height: 100%;
    background-color: teal;
    animation: spring 2s ease-in-out;

}

#ds-bar{
    width: 60%;
    height: 100%;
    background-color: teal;
    animation: ds 2s ease-in-out;

}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    } 
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    } 
}

@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    } 
}

@keyframes angular {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    } 
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    } 
}

@keyframes spring {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    } 
}

@keyframes ms {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    } 
}

@keyframes ds {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    } 
}

#skill-div2{
width: 50%;
padding-top: 1.5%;
padding-left: 2.3%;
padding-right: 2.5%;
}


#projects{
    margin-top: 3.5%;
    height: 92vh;
    
}

#project-head{
    display: flex;
    flex-direction: row;
    
}

#project-heading{
    margin-top: 1.5%;
    margin-left: 2.1%;
    font-size: 17px;
    color: teal;
    font-weight: bold;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#project-hr{
    margin-top: 2.3%;
    margin-left: 0.8%;
height: 2px;
width: 10%;
background-color: orangered;
}

#project-title {
    margin-left: 2%;
    font-size: 33px;
    font-weight: bold;
}

#project-content{
    display: flex;
    flex-direction: row;
    height: 87%;
    padding-top: 1%;
   
}



.project-card{
    background-color: white;
    width: 33%;
    height: 80%;
    margin-left: 2%;
    border-radius: 2%;
}




.project-img{
height: 67%;
display: flex;
justify-content: center;

}

.project-content{
padding-left: 5%;
padding-top: 5%;
padding-right: 5%;
}

.project-name{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orangered;
}

.project-info{

    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#contact{
    height: 90vh;
    background-color: whitesmoke;
}

#contact-head{
    display: flex;
    flex-direction: row;
}

#contact-content{
    height: 88%;
    display: flex;
    flex-direction: row;
}

.contact-content-card{
    margin-top: 1%;
    height: 95%;
    width: 47%;
    margin-left: 2%;
}

#contact-address{
height: 48%;
width: 100%;
background-color: white;
border-radius: 1%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
}

#contact-email-num{
    height: 47%;
    width: 100%;
    margin-top: 4%;
    border-radius: 1%;
    display: flex;
    flex-direction: row;


}

#contact-email{
    width: 48%;
    height: 100%;
    background-color: white;
    display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
}

#contact-num{
    width: 48%;
    height: 100%;
    background-color: white;
    margin-left: 4%;
    display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
}

.contact-icons{
    width:16%;
    height: 18%;
    text-align: center;
}

#address-icons{
    width: 8%;
    height: 18%;
    text-align: center;
}
.contact-icon{
    margin-top: 10%;
    font-size: 250%;
    color: teal;
}

.contact-q{
    margin-top: 1%;
font-size: 20px;
color: rgb(98, 98, 98);
font-weight: bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-a{
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: lighter;
}

#contact-me-card{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 1%;
}

#name-email{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name-email{
    width: 43%;
    margin-top: 4%;
}

#subject-field{
    width: 91%;
    margin-left: 4.5%;
    
}

#message-field{
    width: 91%;
    margin-left: 4.5%;
    /* height: 70%; */
}

::ng-deep #message-field{
    height: 250px !important;
    background-color: white;
}
#submit-btn{
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sub-btn{
    height: 86%;
    width:30%;
    background-color: teal;
    border: 0;
    color: white;
    font-size: 18px;
    border-radius: 3%;
}

#sub-btn:hover{
    background-color: white;
    color: teal;
    border: 2px solid teal;
    transition: 0.3s ease-out;
}

#bottom-nav {

    height: 35vh;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: solid 2px #00adad;
}

#icons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-right: 30px;

}

.icons {
    margin-left: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #1c5353;
    text-align: center;
    color: white;

}

.icon {
    margin-top: 10px;
    font-size: 30px;
}

.icons:hover {
    background-color: rgb(0, 235, 235);
    color: white;
    transition: 0.3s ease-in-out;

}

#copyright {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    position: absolute;
    bottom: 50px;
}

#cpr-name {
    font-size: 17px;
    color: gray;
}

#cpr-date {
    font-size: 17px;
    margin-left: 5px;
    color: orangered;
}


@media screen and (max-width: 480px) {
    .navlink {
        background-color: #1c5353;
        position: fixed;
        right: -100%;
        top: 46px;
        height: 25%;
        width: 100%;
        border-top: solid 2px teal;
        display: flex;
        flex-direction: column;
        padding-top: 4%;
        justify-content: space-between;
        place-items: flex-start;
        padding-bottom: 3%;
        transition: 0.4s ease-in-out;
    }

    .menuClass {
        transition: 0.4s ease-in-out;
        right: 0;
    }

    #menu-btn {
        display: block;
        position: absolute;
        top: 0.4%;
    }

    #home-name {
        font-size: 28px;
    }

    #pritesh {
        font-size: 32px;

    }

    #home-title {
        font-size: 24px;
        position: absolute;
        top: 320px;

    }

    #home-btn {
        height: 34px;
        position: absolute;
        top: 360px;
    }

    #icons-div {
        margin-top: 60px;
        margin-right: 30px;
    }

    #copyright {
        position: absolute;
        bottom: 40px;
    }

    #about-hr {
        position: relative;
        right: 30px;
    }

    #about-title {
        font-size: 26px;
    }

    #profile-img {
        width: 300px;
    }

    #about-content {
        display: flex;
        flex-direction: column;
    }

    #profile-content {
        display: flex;
        flex-direction: column;

    }

    #profile-content2 {
        margin-left: 0;
    }

    .profile-q {
        font-size: 16px;
    }

    .profile-a {
        font-size: 16px;
    }

    .about-me {
        margin-top: 5px;
    }

    #about-me {
        margin-top: 10px;
        margin-right: 55px;
        text-align: justify;
        text-justify: inter-word;
    }

    #about-extra {
        display: flex;
        flex-direction: column;
        margin-top: 35%;
        place-items: center;

    }

    .extra-cards {
        width: 65%;
        margin-top: 10%;
    }

    
.extra-card-symbol {
    height: 1.15%;
    width: 8%;
   

}

#extra-exp {
    position: absolute;
    top: 64.3%;
}

#extra-edu {
    position: absolute;
    top: 69.5%;
}

#extra-ctf {
    position: absolute;
    top: 74.6%;
}

#extra-pro {
    position: absolute;
    top: 79.9%;
}


.extra-icon {
    font-size: 210%;
    margin-top: 17%;
    color: white;

}

    .extra-icon {
        font-size: 140%;
    }



}