<div class="boostrap-wrapper" id="screen">

    <div class="row">
        <div class="col-lg-12">

            <!--.......................NavBar.........................-->
            <nav id="navbar">
                <div class="navlink" [class.menuClass]="menuVariable">
                    <p class="navlinks">HOME</p>
                    <p class="navlinks">ABOUT</p>
                    <p class="navlinks">SKILLS</p>
                    <p class="navlinks">PROJECTS</p>
                    <p class="navlinks">CONTACT</p>
                </div>

                <button (click)="openMenu()" id="menu-btn" mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </nav>

            
            <!--.......................Home.........................-->
            <div class="row " id="home">
                <div class="col-lg-12 h100">

                    <div class="intro">
                        <div id="name">
                            <p id="home-name">Hello I'm </p>
                            <p id="pritesh">Pritesh Patil</p>
                        </div>
                        <p id="home-title">I'm Full-Stack Web Developer</p>
                        <button id="home-btn">Get in touch ↗</button>
                    </div>

                </div>
            </div>



            <!--.......................About.........................-->
            <div class="row" id="content">
                <div class="col-lg-12">
                    
                    <div id="content-div">

                        <div id="about">

                           <div id="about-head">
                            <p id="about-heading">ABOUT</p><hr id="about-hr">
                            <p id="about-title">LEARN MORE ABOUT ME</p>
                           </div>

                           <div id="about-content">
                            
                                <img id="profile-img" src="./../../../assets/Pritesh Profile.jpg" alt="Pritesh" >
                                <div id="profile-info">

                                    <p id="profile-title">Full-Stack Developer</p>
                                  
                                    <p id="profile-title-info">I enjoy designing and developing websites.</p>
                                  
                                  <div id="profile-content">
                                    <div id="profile-content1">

                                        <div class="about-me">
                                            <p class="arrow">➤</p><p class="profile-q">Name : </p><p class="profile-a">Pritesh Patil</p>
                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Birthday : </p><p class="profile-a">16/01/2023</p>

                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Email : </p><p class="profile-a">patilpritesh7277@gmail.com</p>

                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Phone : </p><p class="profile-a">(91) 8689987277</p>

                                        </div>

                                    </div>
                                    <div id="profile-content2">

                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">City : </p><p class="profile-a">Navi Mumbai</p>

                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Age : </p><p class="profile-a">19</p>

                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Education : </p><p class="profile-a">BTECH (Ongoing)</p>

                                        </div>
                                        <div class="about-me" >
                                            <p class="arrow">➤</p><p class="profile-q">Languages : </p><p class="profile-a">English, Hindi, Marathi</p>

                                        </div>

                                    </div>
                                  </div>
                                   
                                    <p id="about-me">Hello, I'm Pritesh Patil, a third-year IT engineering student at Pillai College of Engineering. I'm passionate about full-stack development and web design. Proficient in Java, Spring, Angular JS, HTML, CSS, MySQL, and more. Let's connect and build the digital future together!</p>
                                </div>
                           </div>

                        </div>

                    </div>

                </div>
            </div>



            <!--.......................Copyright.........................-->
            <div class="row h35">
                <div class="col-lg-12 h100">
                    <div id="bottom-nav" class="h35">
                        <div id="icons-div">

                            <div class="icons">
                                <i class="icon fa fa-linkedin-square"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-instagram"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-github"></i>
                            </div>

                            <div class="icons">
                                <i class="icon fa fa-envelope"></i>
                            </div>

                        </div>

                        <div id="copyright">
                            <p id="cpr-name">PRITESH PATIL</p>
                            <p id="cpr-date">©2023</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>