/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--bs-body-font-family);
    color: #304656;
    margin: 0;
    padding: 0;
    background-color: #f5f8fd;
}

.h100 {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;

}



#extra-info-div {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.extra-cards {
    width: 23.5%;
}

.blank-card {}

.extra-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-card {

    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
    transition: 0.5s;
}

.icon-card:hover {
    cursor: pointer;
    transition: all 1s;
    scale: 1.2;

}

.extra-icon {
    font-size: 25px;
    color: rgb(0, 221, 221);
}

.info-card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #18222b;
    border-radius: 1%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.extra-card-num {
    font-size: 45px;
    font-weight: bold;
    color: white;

}

.extra-card-name {
    font-size: 18px;
    font-weight: lighter;
    color: white;
    padding-top: 3px;
}

@media screen and (max-width:1020px) {

    .extra-cards {
        width: 350px;
        margin-top: 10px;
    }

}


@media screen and (max-width:910px) {

    #extra-info-div {
        margin-top: 30px;
    }

    .extra-cards {
        width: 300px;
    }
}

@media screen and (max-width:800px) {

    .extra-cards {
        width: 99.5%;
    }
}


#projects {
    margin-top: 100px;
}

#project-card-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
       padding-right: 30px;

}

.project-cards {
    background-color: #18222b;
    margin-top: 10px;

    width: 340px;
    height: 440px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    margin-left: 30px;
    margin-top: 25px;
    transition: all 0.4s ease;

}



#project1-img-div {
    height: 82%;
    width: 100%;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#project2-img-div {
    height: 82%;
    padding-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#project1-img {
    width: 70%;
    background-image: url(./assets/project1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#project2-img {
    width: 70%;
    background-image: url(./assets/project2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.project-cards:hover {
    scale: 1.05;
    transition: all 0.4s ease;
}

.project-cards:hover #project1-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover #project2-img-div {
    filter: opacity(60%);
    transition: all 0.4s ease;
}

.project-cards:hover .project-icon-div {
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s ease;
}

.project-icon {
    font-size: 25px;
    color: white;

}

.project-icon-div {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0;
    margin-top: 30px;
    border: 2px solid #18222b;
    background-color: #18222b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-icon-div:hover {
    background-color: white;
    transition: all 0.4s ease;
}

.project-icon-div:hover .project-icon {
    color: #18222b;
    transition: all 0.4s ease;
}

.project-info {
    height: 18%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.project-name {

    font-size: 18px;
    font-weight: 500;
    color: #18222b;
}

.project-date {
    font-size: 16px;
    color: teal;
    font-weight: 400;
}


@media screen and (max-width:1036px) {
    .project-cards {

        width: 330px;
        height: 350px;
    }
}

@media screen and (max-width:895px) {
    #project-card-div {
        justify-content: center;
    }

    .project-cards {

        width: 400px;
        height: 350px;
    }
}

@media screen and (max-width:500px) {
    .project-name {
        font-size: 14px;
    }
    .project-cards {

        width: 400px;
        height: 400px;
    }
}





#resume {
    margin-top: 110px;

}

#resume-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#resume-info {
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;

}

#resume-btn {
    margin-top: 40px;
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 21px;
    background-color: teal;
    border: solid 1px teal;
    font-weight: lighter;

    color: white;
padding-top: 10px;
}

#download-text{
    
}

.download-icon{
    display: none;
}

#resume-btn:hover {
    background-color: transparent;
    color: black;
    transition:all 0.5s ease;
    cursor: pointer;
    padding-top: 0;
}

#resume-btn:hover #download-text{
    display: none;
    transition:all 0s ease;

}

#resume-btn:hover .download-icon{
    display:contents;
    font-size: 30px;
    transition:all 0.5s ease;

}